---
title: 2014
---
/ = post "", "IMG_.jpg", "2015-"

= post "Cheers", "IMG_2340.jpg", "2014-09-07"
= post "Too much hiking", "IMG_hiking.jpg", "2014-04-17"
= post "Sentencing flowers to their death", "IMG_flowers.jpg", "2014-03-15"
= post "It ain’t easy being cheesy", "20140301-195414.jpg", "2014-03-01"
= post "Let’s kick shell", "20140301-160313.jpg", "2014-03-01"
= post "Geaux Tiger Gnomes", "20140220-183357.jpg", "2014-02-20"
= post "Cousin It", "20140104-205851.jpg", "2014-01-04"