---
title: 2012
---
/ = post "", "IMG_.jpg", "2015-"

= post "Just setting a Christmas tree on fire", "IMG_1561.jpg", "2012-12-29"
= post "You looking at me?", "IMG_1556.jpg", "2012-12-25"
= post "Congraturation", "IMG_1533.jpg", "2012-12-14"
= post "Keeping it classy", "IMG_1524.jpg", "2012-12-09"
= post "Chip Potts", "IMG_1511.jpg", "2012-11-22"
= post "Wario (Mario, plus wine)", "IMG_1508.jpg", "2012-11-22"
= post "She-hulk", "IMG_1506.jpg", "2012-11-19"
= post "The moccasins", "IMG_1493.jpg", "2012-11-07"
= post "The most wonderful thing about Tiggers", "IMG_1485.jpg", "2012-11-02"
= post "Donald’s disastrous dagger of destiny", "IMG_1448.jpg", "2012-10-06"
= post "But it matches my outfit", "IMG_1439.jpg", "2012-10-03"
= post "ROYGBIV", "IMG_1409.jpg", "2012-09-24"
= post "Heartbear prefers sugar free", "IMG_1401.jpg", "2012-09-22"
= post "And so castles made of sand", "IMG_1325.jpg", "2012-07-20"
= post "Nurturing fashionista", "IMG_1318.jpg", "2012-07-14"
= post "Avengers reject", "IMG_1272.jpg", "2012-05-28"
= post "It’s the mirrors", "IMG_1264.jpg", "2012-05-26"
= post "Shark bait, oohaha", "IMG_1210.jpg", "2012-04-06"
= post "Frito Bandito", "IMG_1185.jpg", "2012-03-23"
= post "Da beers", "IMG_1138.jpg", "2012-01-07"
= post "Cake mix explosion", "IMG_1102.jpg", "2012-12-24"
