---
title: 2013
---
/ = post "", "IMG_.jpg", "2015-"


= post "Lazy Friday, mon", "20131227-175206.jpg", "2013-12-27"
= post "Tacky Christmas sweater", "20131229-220528.jpg", "2013-12-20"
= post "BFF", "IMG_1959.jpg", "2013-12-18"
= post "Bumbles bounce", "IMG_1971.jpg", "2013-12-14"
= post "Breakfast of champions", "IMG_1864.jpg", "2013-10-03"
= post "Star struck", "IMG_1786.jpg", "2013-07-26"
= post "You got Iced!", "IMG_1780.jpg", "2013-07-14"
= post "We put in a pool", "IMG_1775.jpg", "2013-07-13"
= post "Katie Crockett", "IMG_1717.jpg", "2013-04-19"
= post "This is how you do it", "IMG_1658.jpg", "2013-03-13"
= post "1, cut a hole in a box", "IMG_1592.jpg", "2013-01-28"
= post "Murica!", "IMG_1587.jpg", "2013-01-25"
= post "Homemade Coke ICEE", "IMG_1578.jpg", "2013-01-18"
