---
title: 2010
changefreq: weekly
priority: 1
---
/ = post "", "IMG_.jpg", "2015-"

= post "Happy new year", "IMG_0409.jpg", "2010-12-31"
= post "Snowman hat", "IMG_0317.jpg", "2010-11-07"
= post "Go home Minnie, you’re drunk", "IMG_0280.jpg", "2010-10-29"
= post "Pirrrrrrrrrrrrrrrrrrate", "IMG_0260.jpg", "2010-10-24"
= post "Where’s my dinner?", "IMG_0073.jpg", "2010-09-03"
= post "Ushanka", "IMG_0055.jpg", "2010-08-15"
